<h4>会員情報編集</h4>

<%= form_with model: @costomer,local:true do |f|>
 <table>

  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @costomer.last_name%></td>
      <td><%= @costomer.first_name%></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @costomer.last_name_kana%></td>
      <td><%= @costomer.first_name_kana%></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @costomer.postal_code%></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @costomer.address%></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @costomer.telephone_number%></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @costomer.email%></td>
    </tr>
  </tbody>

 </table>
<% end %>

<%= link_to "編集内容を保存", customer_path %>
<%= link_to "退会する", root_path, method: :delete %>