<%= @customer.fullname %>さんの会員詳細
<div class="container">
  <div class="row">
    <div class="col-lg-6">
<table class="table table-borderless">
  <tbody>
    <tr>
      <td><strong>会員ID</strong></td>
      <td><strong><%= @customer.id %></strong></td>
    </tr>
    <tr>
      <td><strong>氏名</strong></td>
      <td><strong><%= @customer.last_name %><%= @customer.first_name %></strong></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td><strong>郵便番号</strong></td>
      <td><strong><%= @customer.postal_code %></strong></td>
    </tr>
    <tr>
      <td><strong>住所</strong></td>
      <td><strong><%= @customer.address %></strong></td>
    </tr>
    <tr>
      <td><strong>電話番号</strong></td>
      <td><strong><%= @customer.telephone_number %></strong></td>
    </tr>
    <tr>
      <td><strong>メールアドレス</strong></td>
      <td><strong><%= @customer.email %></strong></td>
    </tr>
    <tr>
      <td><strong>会員ステータス</strong></td>
      <% if @customer.is_deleted!=true %>
      <td class="text-success">有効</td>
      <%else%>
      <td class="text-success">退会</td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_admin_customer_path(@customer),class: "btn btn-success" %>
<%= link_to "注文履歴一覧を見る", admin_admin_path, class: "btn btn-primary"%>
</div>
<div class="col-lg-6">
</div>
 </div>
</div>
