<h4>注文履歴詳細</h4>

<table>
  <tbody>
   <tr>
     <td>購入者</td>
     <% link_to admin_customer_path(@order.customer.id) %>
     <td><%=@order.customer.fullname%></td>
     <% end %>
   </tr>
   <tr>
     <td>注文日</td>
     <td><%=@order.created_at%></td>
   </tr>
   <tr>
     <td>配送先</td>
     <td><%=@order.address%></td>
   </tr>
   <tr>
     <td>支払方法</td>
     <td><%=@order.payment_method%></td>
   </tr>
   <tr>
     <td>注文ステータス</td>
     <td><%= form.select :status, Address.statuses.keys, {prompt: "選択してください"}, class: "status-select" %></td>
     <td><%=link_to "更新" admin_order_path(@order.id), %></td>
   </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
       <td>商品名</td>
       <td>単価（税込）</td>
       <td>数量</td>
       <td>小計</td>
       <td>制作ステータス</td>
    </tr>
  </thead>
  <tbody>
    <%  @order_details.each do |order_detail|%>
    <tr>
      <td><%=order_detail.order.name%></td>
      <td><%=order_detail.price%></td>
      <td><%=order_detail.amount%></td>
      <td><%=(order_detail.price)*(order_detail.amount)%></td>
      <td><%=form.select :making_status, Address.making_statuses.keys, {prompt: "選択してください"}, class: "making_status-select"%></td>
      <td><%=link_to "更新", admin_order_path(@order.id)%></td>
      <td><%= order_detail.order.total_payment%></td>
      <td><%= order_detail.order.shipping_cost%></td>
      <td><%=(order_detail.order.total.payment)+(order_detail.order.shipping_cost)%></td>
    </tr>
  </tbody>
</table>

