<h4>ジャンル一覧·追加</h4>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
       <%= form_with model: @genre, url:admin_genres_path, local: true do |f|%>
    <table>
    <tbody>
      <tr>
        <td><%= f.label :ジャンル名 %><td>
        <td><%= f.text_field :name, :placeholder => "ジャンル名" ,autofocus: true %></td>
        <td><%= f.submit "新規登録",class: "btn btn-success" %></td>
      </tr>

  </tbody>
</table>
 <% end %>

<table class="table">
  <thead class="thead-dark"><strong>ジャンル</strong></thead>
  <tbody>
    <% @genres.each do |genre|%>
      <tr>
        <td>
         <%= genre.name%>
        </td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre) ,class: "btn btn-success"%> </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  </div>

  </div>
</div>