<h4>注文履歴詳細</h4>
<h4>注文情報</h4>
<table>
 <tbody>

     <tr>
       <td>注文日</td>
       <td><%=@order.created_at%></td>
     </tr>
     <tr>
       <td>配送先</td>
       <td><%=@order.address%></td>
     </tr>
     <tr>
       <td>支払方法</td>
       <td><%=Order.payment_methods_i18n[:credit_card]%></td>
     </tr>
     <tr>
       <td>ステータス</td>
       <td><%=@order.status%></td>
     </tr>

 </tbody>
</table>

<h4>注文内容</h4>
<table>
  <thead>
    <tr>
      <td>商品</td>
      <td>単価（税込）</td>
      <td>個数</td>
      <td>小計</td>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail|%>
    <tr>
      <td><%= order_detail.order.name%></td>
      <td><%= order_detail.price%></td>
      <td><%= order_detail.amount%></td>
      <td><%=( order_detail.price)*(order_detail.amount)%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4>請求情報</h4>
<table>
  <tbody>

    <tr>
      <td>商品合計</td>

    </tr>
    <tr>
      <td>配送料</td>
      <td><%= @order.shipping_cost%></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td><%=@order.total_payment%></td>
    </tr>

  </tbody>
</table>

