<h4>注文情報確認</h4>
<table>
  <thead>
    <tr>商品名</tr>
    <tr>単価（税込）</tr>
    <tr>数量</tr>
    <tr>小計</tr>
  </thead>
  <tbody>
    <%= @orders.each do |order|%>
    <tr>
       <td><%= order.name%></td>
       <td><%= order.order_details.price%></td>
       <td><%= order.order_details.amount%></td>
       <td><%= order.order_details.price*order.order_details.amount%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td>送料</td>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%#=@order.order_details.price*@order.order_details.amount%></td>
    </tr>
    <tr>
      <td>請求金額</td>
      <td><%#= (@order.order_details.price*@order.order_details.amount)+ (@order.shipping_cost) %></td>
    </tr>
    <tr>
      <td>支払方法</td>
        <td><%= @order.payment_method%></td>
      <td>お届け先</td>
       <td><%= @order.address%></td>
      <td>   <%= @order.postal_code%></td>
      <td>   <%= @order.name %></td>
    </tr>
  </tbody>
</table>




<%= form_with model: @order, url: orders_path, local: true do |f|%>
<%=hidden_field :customer_id, value: current_customer.id%>
<%=hidden_field :payment_method, value: @order.payment_metho%>
<%=hidden_field :postal_code, value: current_customer.id%>
<%= f.submit "注文を確定する" %>