<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h2>商品一覧</h2>
<% @items.each do |item| %>
<div>
  <%= link_to item_path(item.id) do %>
 <p><%= attachment_image_tag item, :image %></p>
  <% end %>
  <p>商品: <%= item.name%></p>
  <p>￥：<%= item.price %></p>
</div>
<% end %>


